* {
	box-sizing: border-box;
}
body {
	background-color: rgb(99, 96, 96);
}
.top {
	background-color: black;
	height: 10vh;
	width: 100%;
	display: inline;
}
footer {
	background-color: rgb(49, 47, 47);
	position: relative;
	bottom: 0px;
	left: 0px;
	max-width: 100%;
}
ul {
	text-decoration: none;
	margin-top: 10px;
	align-items: center;
	text-align: center;
}
li {
	color: whitesmoke;
	align-items: center;
	width: 100%;
	max-width: fit-content;
	list-style: none;
}
.social {
	text-align: center;
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	background-color: rgb(182, 178, 178);
}

.fa {
	font-size: 1.6em;
	text-align: center;
}
a {
	text-decoration: none;
	list-style: none;
}

img.card-img-top:hover {
	border: solid 4px rgb(172, 172, 169);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.carousel-inner {
	border-radius: 15px;
}
.card {
	background-color: rgb(99, 96, 96);
	border: 0ch;
	margin: auto;
}
.card-text {
	color: rgb(187, 197, 191);
}
strong {
	color: rgb(226, 228, 212);
}
p {
	text-align: center;
	position: relative;
	bottom: 19px;
}
nav {
	background-color: black;
}
.navbar-nav {
	text-align: center;
}
.fa-bars {
	color: white;
}
button:hover {
	background-color: lightslategray;
}
li.nav-item {
	margin-right: 10px;
}
.navbar-brand {
	font-size: xx-large;
	font-weight: 900;
	font-family: fantasy;
	font-style: oblique;
	font-stretch: extra-expanded;
	font: bold;
}
